<div class="container">
  <div class="row justify-content-center">
    <div class="col-8 text-center m-5">

      <h1 class="mb-3" >Take a selfie!</h1>

      <%= render 'form', selfy: @selfy %>

      <%= link_to 'Back', selfies_path, class: 'btn btn-primary mt-5' %>

    </div>
  </div>
</div>

