.selfie-container {
  position: relative;
  text-align: center;
}

.selfie-video {
  width: 100%;
}

.selfie-btn {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 48px;
  margin: 0;
  text-shadow: 0 0 8px rgba(255,255,255,0.7);
  cursor: pointer;
}

.selfie-btn.start{
  bottom: 8px;
}

.selfie-btn.flip {
  top: 8px;
}
